<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | {{username}}</title>  
    <link rel="stylesheet" href="hbs.css">
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings"> Home </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="profile" class="nav_settings"> {{firstname}}'s </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="palettes" class="nav_settings"> Palettes </a>
        </ul>
    </div>
    <div class="add_button"> <a href="add_palette" class="add_palette_button"> + Add Palette </a> </div> 
    <div class="all_palettes_container">
        <div class="left_side_palettes">
            <div class="indiv_palette">
                <div class="header_information">
                    <p class="palette_name">Rainbow</p>
                    <div class="palette_icons">
                        <img src="assets/pencil.png" class="edit_button">
                        <img src="assets/delete.png" class="delete_button">
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                </div>
                <div class="other_information">
                    <p class="created_by">by Rebecalyn Lao</p>
                    <p class="date_created"> Aug 01, 2019</p>
                </div>
            </div>
        </div>
        <div class="middle_side_palettes">
            <div class="indiv_palette">
                <div class="header_information">
                    <p class="palette_name">Rainbow</p>
                    <div class="palette_icons">
                        <img src="assets/pencil.png" class="edit_button">
                        <img src="assets/delete.png" class="delete_button">
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                </div>
                <div class="other_information">
                    <p class="created_by">by Rebecalyn Lao</p>
                    <p class="date_created"> Aug 01, 2019</p>
                </div>
            </div>
        </div>
        <div class="right_side_palettes">
            <div class="indiv_palette">
                <div class="header_information">
                    <p class="palette_name">Rainbow</p>
                    <div class="palette_icons">
                        <img src="assets/pencil.png" class="edit_button">
                        <img src="assets/delete.png" class="delete_button">
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                    <div class="left_color_container" id="color_1"></div>
                </div>
                <div class="other_information">
                    <p class="created_by">by Rebecalyn Lao</p>
                    <p class="date_created"> Aug 01, 2019</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>