@font-face{
    font-family: "font";
    src:url(./assets/GothamBook.ttf);
}

:root{
    --gray-bg: #efefed;
    --gray-dark: #dbdbd8;
    --gray-hover: #ccccca;
    --accent-pink: #d2aca6;
    --accent-light-pink: #f3c5b8;

    --box-R: #f69679;
    --box-O: #fdc689;
    --box-Y: #fff799;
    --box-G: #a3d39c;
    --box-B: #7da7d9;
}

body{
    margin: 0;
    background-color: var(--gray-bg);
    width: 100%;
    color: #272626;

    transition: all 0.5s ease;
}

/* NAV BAR */
.navbar{
    position: fixed;
    background-color:var(--gray-bg);
    width: 100%;
    height: 55px;
    filter: drop-shadow(3px 3px 3px #0000003d);
    z-index: 1000;

    text-align: center;
}

.navbar.scrolled{
    background-color: var(--gray-bg);
    transition: background-color 200ms linear;
}

.nav_list{
    display: inline-flex;
    width: 300px;

    background-color: var(--gray-bg);
    animation: slideIn .5s forwards;
}

.nav_settings{
    display: block;
    flex: 0 1 auto;
    width: 200px;

    font-family: font;
    color: black;
    text-decoration: none;  
    text-align: center;
}

#nav_wall{
    margin-top: 0px;
}

/* END OF NAVBAR */

/* MY PALETTES */
/*-- Add Palette Button --*/
.add_palette_button{

    font-family: "font";
    display: flex;
}

.add_button{
    width: 200px;
    height: 40px;
    background-color: var(--gray-dark);

    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    text-decoration: none;
    color: #272626;

    margin-top: 43%;
    margin-left: 82%;
    filter: drop-shadow(0px 1px 2px #0000004d);
}

.add_button:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #0000005d);
    text-decoration: none;
    color: #272626;
}

.add_palette_button:link{
    text-decoration: none;
    color: #272626;
}

.add_palette_button:any-link{
    text-decoration: none;
    color: #272626;
}

.add_palette_button:visited{
    text-decoration: none;
    color: #272626;
}

/*--Display of Palettes --*/
.all_palettes_container{
    width: 100%;
    display: flex;
    padding-top: 3.5rem;

    font-family: "font";
}

.left_side_palettes{
    width: 50%;
    margin-top: 1rem;
}

.right_side_palettes{
    width: 50%;
    margin-top: 1rem;
}

.header_information{
    display: flex;
    padding-top: 0.5rem;
}

.left_indiv_palette{
    width: 30rem;
    height: 13rem;

    background-color: var(--gray-dark);
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px #0000002c);

    margin: 0 auto;
}

.right_indiv_palette{
    width: 30rem;
    height: 13rem;

    background-color: var(--gray-dark);
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px #0000002c);

    margin: 0 auto;
}

.palette_icons{
    display: flex;
    margin-left: auto;
    margin-right: 0.5rem;
}

.palette_name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.3rem;
    margin-left: 0.4rem;
}

.edit_button{
    width: 1.4rem;
    height: 1.4rem;
    opacity: 0.8;
    
}

.delete_button{
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.5rem;
    opacity: 0.7
}

.left_palette_color_container{
    display: flex;
    margin-left: 0.1rem;
}

.left_color_container{
    width: 5.3rem;
    height: 5.3rem;
    border: solid;
    border-width: 0.2rem;
    border-color: var(--gray-bg);
    background-color: var(--box-R);
    filter: drop-shadow(0px 1px 2px #0000003f);

    margin-left: 0.2rem;
}

.left_other_information{
    font-size: 14px;
    margin-left: 0.4rem;
}

.left_created_by{
    margin-top: 0.4rem;;
    margin-bottom: 0;
}

.left_date_created{
    margin-top: 0.2rem;
}

/* END OF MY PALETTES */

/* ADD PALETTE */
.color_palette_container{
    width: 100%;
    height: 34rem;
    display: flex;
}

.indiv_color_container{
    margin-left: 0.3rem;
    text-align: center;
}

.color_container{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 23rem;
    width: 14rem;

    margin-top: 5rem;
}

#styleInput{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 25rem;
    width: 16rem;

    margin-top: 5rem;
}

#styleInput1{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 25rem;
    width: 16rem;

    margin-top: 5rem;
}

#styleInput2{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 25rem;
    width: 16rem;

    margin-top: 5rem;
}

#styleInput3{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 25rem;
    width: 16rem;

    margin-top: 5rem;
}

#styleInput4{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.5rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 25rem;
    width: 16rem;

    margin-top: 5rem;
}

#styleInput:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput1:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput2:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput3:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput4:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

.hex_numbers{
    font-family: "font";
    font-size: 20px;
    background-color: var(--gray-dark);
    border: none;
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
}

#input_hex{
    border: none;
    font-family: "font";
    font-size: 20px;
    text-align: center;
    background-color: var(--gray-bg);

}

/*-- palette name ---*/
.palette_details_container{
    width: 100%;
    height: auto;

}

.palette_name_label{
    font-family: "font";
    font-size: 20px;

    margin-left: 10rem;
    margin-bottom: 0.5rem;
}

.palette_name_field{
    font-family: "font";
    font-size: 20px;
    width: 30rem;
    height: 2rem;

    margin-left: 10rem;
    margin-top: 0rem;
}

.extra_buttons_filed{
    display: flex;
}

.done_button{
    background-color: var(--gray-dark);
    font-family: "font";
    font-size: 20px;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    padding-top: 0.5rem;
    filter: drop-shadow(0px 1px 2px #0000002c);

    margin-left: 15rem;
}

.done_button:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
}


