@font-face{
    font-family: "font";
    src:url(./assets/GothamBook.ttf);
}

:root{
    --gray-bg: #efefed;
    --gray-dark: #dbdbd8;
    --gray-hover: #ccccca;
    --accent-pink: #d2aca6;
    --accent-light-pink: #f3c5b8;

    --font-color: #272626;
    --logo-color: #d2aca6;

    --box-R: #f69679;
    --box-O: #fdc689;
    --box-Y: #fff799;
    --box-G: #a3d39c;
    --box-B: #7da7d9;
}

body{
    margin: 0;
    background-color: var(--gray-bg);
    width: 100%;
    color: #272626;

    transition: all 0.5s ease;
}

/* NAV BAR */
.navbar{
    position: fixed;
    background-color:var(--gray-bg);
    width: 100%;
    height: 60px;
    filter: drop-shadow(3px 3px 3px #0000003d);
    z-index: 1000;

    text-align: center;
}

.navbar.scrolled{
    background-color: var(--gray-bg);
    transition: background-color 200ms linear;
}

.nav_list{
    display: flex;
    width: 400px;

    background-color: var(--gray-bg);
    animation: slideIn .5s forwards;
}

.nav_settings{
    display: block;
    flex: 0 1 auto;
    width: 300px;

    font-family: font;
    color: black;
    text-decoration: none;  
    text-align: center;
    margin-left: 20.8px;
}

#nav_wall{
    margin-top: 0px;
}

/*#home_prisma{
    background-image: url("./assets/PrismaShadow.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}*/

.nav_search_form{
    display: inline-flex;
    margin-left: 560px;

}

/* END OF NAVBAR */

/* MY PALETTES */
/*-- Add Palette Button --*/
.add_palette_button{
    cursor: pointer;
    font-family: "font";
    display: flex;
}

.add_button{
    width: 432px;
    height: 184px;
    border-style: dashed;
    border-width: 3.2px;
    border-color: #807f7f;
    background-color: var(--gray-dark);

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #272626;

    cursor: pointer;

    border-radius: 2px;
    margin: 0 auto;
    margin-top: 16px;
}

.add_button:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #0000005d);
    text-decoration: none;
    color: #272626;
}

.add_palette_button:link{
    text-decoration: none;
    color: #272626;
}

.add_palette_button:any-link{
    text-decoration: none;
    color: #272626;
}

.add_palette_button:visited{
    text-decoration: none;
    color: #272626;
}

/*--Display of Palettes --*/
.overlay_feed{
    padding-top: 60.8px;
    width: 100%;
    height: 100%;
}

.all_palettes_container{
    width: 100%;
    display: flex;
    padding-top: 64px;

    font-family: "font";
    flex-wrap: wrap;
}

.all_mypalettes_container{
    width: 100%;
    display: flex;
    padding-top: 64px;

    font-family: "font";
    flex-wrap: wrap;

}

.left_side_palettes{
    width: 33.33%;
    margin-top: 16px;
}

.right_side_palettes{
    width: 33.33%;
    margin-top: 16px;
}

.middle_side_palettes{
    width: 33.33%;
    margin-top: 16px;
}

.header_information{
    display: flex;
    padding-top: 8px;
}

.indiv_palette{
    font-family: "font";
    width: 432px;
    height: 184px;
    border-style: solid;
    border-width: 3.2px;
    border-color: white;

    background-color: white;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 3px #0000004c);

    margin: 0 auto;
    margin-top: 16px;
}
.feed_indiv_palette{
    font-family: "font";
    width: 432px;
    height: 208px;

    background-color: white;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 3px #0000004c);

    margin: 0 auto;
    margin-top: 16px;
}

.right_indiv_palette{
    width: 480px;
    height: 208px;

    background-color: var(--gray-dark);
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px #0000002c);

    margin: 0 auto;
}

.palette_icons{
    display: flex;
    margin-left: auto;
    margin-right: 8px;
}

.palette_name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 4.8px;
    margin-left: 6.4px;
    margin-bottom: 12.8px;
}

.edit_button{
    width: 22.4px;
    height: 22.4px;
    opacity: 0.8;

    cursor: pointer;
    
}

.delete_button{
    width: 22.4px;
    height: 22.4px;
    margin-left: 8px;
    opacity: 0.7;

    cursor: pointer;
}

.delete_confirmation_button{
    font-family: "font";
    background-color: var(--gray-bg);
    height: 32px;
    width: 96px;
    text-align: center;
    font-weight: bold;

    margin-top: 6.4px;
    margin-right: 9.6px;
    margin-left: 8px;
    padding-top: 16px;
    filter: drop-shadow(0px 1px 2px #0000003b);
    

    cursor: pointer;
}

.delete_confirmation_button:hover{
    background-color: var(--gray-hover);
}

.palette_color_container{
    display: flex;
    margin-left: 3.2px;
}

.left_color_container{
    width: 84.8px;
    height: 102.4px;
    /*border: solid;
    border-width: 0.2rem;
    border-color: var(--gray-bg);*/
    background-color: var(--box-R);
    filter: drop-shadow(0px 1px 2px #0000002c);

    /*margin-left: 0.1rem;*/
}

.left_color_container_feed{
    width: 84.8px;
    height: 116.8px;
    background-color: var(--box-R);
    filter: drop-shadow(0px 1px 2px #0000002c);
}

.other_information{
    font-size: 14px;
    margin-left: 6.4px;
}

.created_by{
    margin-top: 6.4px;
    margin-bottom: 0;
}

.date_created{
    margin-top: 3.2px;
}

/* END OF MY PALETTES */

/* ADD PALETTE */
.color_palette_container{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
}

.indiv_color_container{
    margin-left: 4.8px;
    text-align: center;
    height: 160px;
}

.color_container{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 368px;
    width: 224px;

    margin-top: 80px;
}

#styleInput{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 288px;
    width: 256px;

    margin-top: 16px;
    
    transition: all 0.45s;
}

#styleInput1{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 288px;
    width: 256px;
    
    transition: all 0.45s;

    margin-top: 16px;
}

#styleInput2{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 288px;
    width: 256px;
    
    transition: all 0.45s;

    margin-top: 16px;
}

#styleInput3{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 288px;
    width: 256px;

    margin-top: 16px;
    
    transition: all 0.45s;
}

#styleInput4{
    background-color: #ffffff;
    border: solid;
    border-color: var(--gray-bg);
    border-width: 8px;
    filter: drop-shadow(0px 1px 4px #0000002c);

    height: 288px;
    width: 256px;

    margin-top: 16px;
    
    transition: all 0.45s;
}

#styleInput:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput1:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput2:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput3:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

#styleInput4:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px #00000048);
}

.hex_numbers{
    font-family: "font";
    font-size: 20px;
    background-color: var(--gray-dark);
    border: none;
    height: 32px;
    margin-top: 16px;
    text-align: center;
}

#input_hex{
    border: none;
    font-family: "font";
    font-size: 20px;
    text-align: center;
    background-color: var(--gray-bg);

}

/*-- palette name ---*/
.palette_details_container{
    width: 100%;
    height: auto;
    padding-top: 64px;
    background-color: white;
}

.palette_name_label{
    font-family: "font";
    font-size: 20px;

    margin-left: 160px;
    margin-bottom: 8px;
}

.palette_name_field{
    font-family: "font";
    font-size: 20px;
    width: 480px;
    height: 32px;

    margin-left: 160px;
    margin-top: 0px;   
}

.extra_buttons_filed{
    display: flex;
}

#palette_done_button{
    margin-left: 80px;
}

#palette_cancel_button{
    margin-left: 32px;
    margin-right: 0;

    text-decoration: none;
    color: var(--font-color);
}

#palette_cancel_button:visited{
    text-decoration: none;
    color: var(--font-color);
}

.palette_generate_button{
    background-color: var(--gray-dark);
    font-family: "font";
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    text-align: center;
    padding-top: 8px;
    filter: drop-shadow(0px 1px 2px #0000002c);
}

.randomize_palette_button{
    background-color: var(--gray-dark);
    font-family: "font";
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    text-align: center;
    padding-top: 9.6px;
    height: 32px;
    filter: drop-shadow(0px 1px 2px #0000002c);
    margin-top: 32px;
    margin-left: 45%;
}

.palette_generate_button:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
}

.randomize_palette_button:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
}

.no_changes{
    opacity: 0.3;
}

/* MY PROFILE */
.overlay_profile{
    position: absolute;
    padding-top: 27.2px;
}

.profile_header_container{
    width: 100%;
    height: 80px;
    display: flex;

    font-family: "font";

    padding-top: 6em;
}

.profile_name_container{
    width: 50%;
    font-size: 20px;
    text-align: left;

    margin-top: 11.2px;
}

.profile_name{
    margin:0;
    padding-left: 50%;
    padding-bottom: 8px;
    
}

.profile_information_container{
    width: 30%;
    display:flex;
}

.profile_details_container{
    text-align: center;

    margin-left: 19.2px;
    margin-right: 19.2px;
    margin-top: 11.2px;
    z-index: 999;
}

#followers_container:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 2px #0000002c);
}

#following_container:hover{
    cursor: pointer;
    filter: drop-shadow(0px 1px 2px #0000002c);
}

.profile_details_num{
    font-size: 24px;

    margin:0;
}

.profile_details_word{
    margin:0;
}

.profile_details_divider{
    font-size: 60px;
    opacity: 0.8;

    margin-top: 0;
}

.profile_body_container{
    width: 100%;
    height: auto;

    font-family: "font";
}

.profile_body_header{
    font-size: 22px;
}

.profile_body{
    margin-left: 10%;
}

.profile_palettes_container{
    width: 90%;
    height: auto;
    display: flex;

    background-color: var(--gray-dark);
    padding-top: 16px;
    flex-wrap: wrap;
}

.profile_indiv_palette{
    width: 432px;
    height: 208px;

    background-color: white;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 3px #0000004c);

    margin: 0 auto;
    margin-bottom: 16px;
}

.like_palette{
    width: 24px;
    height: auto;

    padding-top: 4.8px;
    cursor: pointer;
    
    filter: drop-shadow(0px 2px 3px #0000004c);
    transition: all 0.75s;
}

#like_palette_id{
    width: 24px;
    height: 24px;

    padding-top: 4.8px;
    cursor: pointer;
    filter: drop-shadow(0px 2px 3px #0000004c);
}

.like_palette_color{
    width: 24px;
    height: 24px;

    padding-top: 4.8px;
    cursor: pointer;
}

/* SEARCH PAGE */
.search_logo_container{
    width: 100%;
    height: 320px;
    padding-top: 80px;

    display: flex;
}

.search_logo_shadow{
    height: 272px;
    width: auto;

    margin-left: 160px;
}

.search_logo_details{
    font-family: "font";
    font-size: 18px;
    width: 400px;

    text-align: center;
    margin-left: 160px;
    margin-top: 32px;
}

.search_container{
    padding-top: 96px;
    text-align: center;
}

.search_submit_button{
    font-family: "font";
    color: var(--font-color);
    font-size: 16px;
    height:24px;
    width: 80px;

    border: none;
    border-radius: 10px;

    filter: drop-shadow(0px 1px 2px #00000034);
    margin-right: 3.2px;

    background-color: var(--gray-dark);
    text-decoration: none;
    padding-top: 4.8px;

    cursor: pointer;
}

.search_submit_button:hover{
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #00000050);
}

.search_text_input{
    width: 240px;
    height: 32.4px;

    font-family: "font";
    font-size: 20px;
    margin-left: 8px;

    border-radius: 10px;
    border:none;
    filter: drop-shadow(0px 1px 2px #0000002c);
}

/* The switch - the box around the slider */
.search_toggle_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    margin-top: 32px;
  }
  
  /* Hide default HTML checkbox */
  .search_toggle_switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .search_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--accent-light-pink);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .search_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .search_slider {
    background-color:var(--logo-color);
  }
  
  
  input:checked + .search_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .search_toggle_container{
      display: flex;
      padding-left: 45%;
  }

  .toggle_label{
      font-family: "font";
      font-size: 16px;
      margin-top: 38.4px;
      margin-left: 16px;
      margin-right: 16px;
  }

  .search_results_container{
    width: 80%;
    height: 640px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 16px;
  }

  .search_results_header{
      font-family: "font";
      font-size: 16px;
      color: #646363;
      margin-left: 16px;
  }

  .search_results_user_container{
      display: flex;
      flex-wrap: wrap;
      white-space: normal;
  }
  
  .search_user_results{
      font-family: "font";
      font-size: 16px;
      color:var(--font-color);
      background-color: var(--gray-dark);
      width: 336px;
      height: 64px;

      display: flex;
      border-radius: 10px;
      filter: drop-shadow(0px 1px 3px #0000004d);
      margin-top: 8px;
      margin-left: 16px;
  }

  .user_information{
      padding-left: 11.2px;
  }

  .search_user_firstname{
      font-weight: bold;
      margin-top: 6.4px;
      margin-bottom: 0;
  }

  .search_user_username{
      margin-top: 3.2px;
      margin-bottom: 0;
  }

  .folow_button_profile{
      display: inline-flex;
      height: 36.8px;
      transition: all 0.75s;
  }

  .profile_follow_user_button{
    position: absolute;
    background-color: var(--gray-bg);
    height: 22.4px;
    width: 96px;

    text-align: center;
    margin-top: 0px;
    right: 8px;
    padding-top: 3.2px;

    filter: drop-shadow(0px 1px 2px #0000002c);
    cursor: pointer;
    transition: all 0.45s;
}

.profile_unfollow_user_button{
    position: absolute;
    background-color: var(--accent-light-pink);
    height: 22.4px;
    width: 96px;

    text-align: center;
    margin-top: 0px;
    right: 8px;
    padding-top: 3.2px;

    filter: drop-shadow(0px 1px 2px #0000002c);
    cursor: pointer;
    transition: all 0.45s;
  }

  .follow_user_button{
      position: absolute;
      background-color: var(--gray-bg);
      height: 25.6px;
      width: 96px;

      text-align: center;
      margin-left: 224px;
      margin-top: 11.2px;
      padding-top: 8px;

      filter: drop-shadow(0px 1px 2px #0000002c);
      cursor: pointer;
      transition: all 0.45s;
  }

  .unfollow_user_button{
      position: absolute;
      background-color: var(--accent-light-pink);
      height: 25.6px;
      width: 96px;

      text-align: center;
      margin-left: 224px;
      margin-top: 11.2px;
      padding-top: 8px;

      filter: drop-shadow(0px 1px 2px #0000002c);
      cursor: pointer;
      
      transition: all 0.45s;
  }

  .unfollow_user_button:hover{
      background-color: var(--accent-pink);
      filter: drop-shadow(0px 1px 2px #0000004d);
  }

  .follow_user_button:hover{
      background-color: var(--gray-hover);
      filter: drop-shadow(0px 1px 2px #0000004d);
  }

  
  .profile_unfollow_user_button:hover{
    background-color: var(--accent-pink);
    filter: drop-shadow(0px 1px 2px #0000004d);
}

 .profile_follow_user_button:hover{
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #0000004d);
}

  .follow_user_button_clicked{
    background-color: var(--gray-hover);
    height: 25.6px;
    width: 96px;

    text-align: center;
    margin-left: 80px;
    margin-top: 11.2px;
    padding-top: 8px;

    filter: drop-shadow(0px 1px 2px #0000002c);
    cursor: pointer;
}

.follow_user_button_clicked:hover{
    background-color: var(--gray-bg);
    filter: drop-shadow(0px 1px 2px #0000004d);
}

  .search_indiv_palette{
    font-family: "font";
    width: 432px;
    height: 208px;

    background-color: white;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 3px #0000004c);

    margin: 0 auto;
    margin-top: 16px;
}

.search_color_container{

    width: 84.8px;
    height: 102.4px;
    /*border: solid;
    border-width: 0.2rem;
    border-color: var(--gray-bg);*/
    background-color: var(--box-R);
    filter: drop-shadow(0px 1px 2px #0000002c);

    /*margin-left: 0.1rem;*/
}

.logout_button_container{
    height: 24px;
    width: auto;
    margin-left: 208px;
    margin-top: 16px;
    cursor: pointer;
    opacity: 0.3;
    z-index: 999;
}

.logout_button_container:hover{
    opacity: 1;
}

.logout_button{
    /* font-family: "font";
    color: var(--font-color);
    background-color: var(--gray-dark);
    filter:drop-shadow(0px 1px 2px #0000005d);
    margin-left: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none; */

    background-image: url("./assets/logout.png");

}

.generate_button{
    width: 96px;
    height: 48px;
    padding-top: 80px;
    margin-left: 80px;
    font-family: "font";
    background-color: var(--gray-hover);
    filter:drop-shadow(0px 1px 2px #0000005d);
    cursor: pointer;
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--gray-dark);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 20%; 
    text-align: center;
    padding-left: 5%;
    border-radius: 7px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_details{
      font-family: "font";
      font-size: 18px;
  }

  .modal_inside_container{
      display: flex;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content-followers {
    background-color: var(--gray-bg);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 27%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_header{
      font-family: "font";
      font-size: 18px;
      font-weight: bold;
  }

  .list_indiv_follower{
      width: 320px;
      background-color: var(--gray-hover);
      font-family: "font";
      font-size: 18px;
      filter: drop-shadow(0px 1px 2px #0000002c);
      
  }

  .follower_name{
      margin-bottom: 0;
      margin-left: 8px;
      padding-top: 8px;
  }

  .follower_username{
      margin-top: 8px;
      margin-left: 8px;
      padding-bottom: 8px;
  }

  .search_list_navbar{
      display: inline-flex;
  }

  .search_min_navbar{
      padding-top: 64px;
      font-family: "font";
      font-size: 20px;
      text-align: center;
  }
  
  .search_nav_setting{
      padding-right: 32px;
      cursor: pointer;
  }

  .bold_util{
      font-weight: bold;
  }

  .color_hex{
      font-size: 12.7px;
      justify-content: center;
      margin-top: 40%;
      margin-left: 14%;
      text-align: center;
      color: white;
      width: 70%;

      background-color: #0000006c;
      cursor: pointer;
      display: none;
      
    transition: all 0.45s;
  }

  .copy_icon{
      height: 24px;
      width: auto;
      margin-left: 34%;
      margin-top: 3.2px;
      filter: drop-shadow(0px 1px 2px #00000065);
      display: none;
      cursor: pointer;
      
    transition: all 0.45s;
  }
