@font-face{
    font-family: "font";
    src:url(./assets/GothamBook.ttf);
}

:root{
    --gray-bg: #efefed;
    --gray-dark: #e0e0dd;
    --gray-hover: #ccccca;
    --accent-pink: #d2aca6;
    --accent-light-pink: #f3c5b8;

    --font-color: #272626;

    --box-R: #f69679;
    --box-O: #fdc689;
    --box-Y: #fff799;
    --box-G: #a3d39c;
    --box-B: #7da7d9;
}

body{
    margin: 0;
    background-color: var(--gray-bg);
    width: 100%;
    color: #272626;

    transition: all 0.5s ease;
}

/* NAV BAR */
.navbar{
    position: fixed;
    background-color:var(--gray-bg);
    width: 100%;
    height: 55px;
    filter: drop-shadow(3px 3px 3px #0000003d);
    z-index: 1000;

    text-align: center;
}

.navbar.scrolled{
    background-color: var(--gray-bg);
    transition: background-color 200ms linear;
}

.nav_list{
    display: inline-flex;
    width: 300px;

    background-color: var(--gray-bg);
    animation: slideIn .5s forwards;
}

.nav_settings{
    display: block;
    flex: 0 1 auto;
    width: 80px;

    font-family: font;
    color: black;
    text-decoration: none;  
    text-align: center;
}

#nav_wall{
    margin-top: 0px;
}

/* END OF NAVBAR */

/* HOME */
/*--Title--*/

.title_container{
    width: 100%;
    height: 20rem;
    display: flex;
    padding-top: 4rem;
}

.logo{
    width: auto;
    height: 17rem;

    margin-top: 2rem;
    margin-left: 11rem;
}

.title_details{
    font-family: "font";

    margin-top: 6rem;
    margin-left: 10rem;
}

.tagline{
    font-size: 20px;
    width: 20rem;
    text-align: center;
}

.title_register_container{
    text-align: center;
    font-size: 22px;

    margin-top: 4rem;
}

.register_button{
    width: 170px;
    height: 35px;
    font-weight: bold;
    color: #272626;
    background-color: var(--gray-dark);
    filter: drop-shadow(0px 1px 1px #0000002c);

    margin-top: 1rem;
    padding-top: 0.4rem;
    margin-left: 5rem;
}

.register_button:hover{
    cursor: pointer;
    background-color: #ccccca;
}

.register_button_link{
    text-decoration: none;
    color: #272626;
}

.register_button_link:any-link{
    text-decoration: none;
    color: #272626;
}

.register_button_link:visited{
    text-decoration: none;
    color: #272626;
}


/*--rainbow display--*/

.display_rainbow_container{
    width: 100%;
    height: 17rem;
    display: flex;
    margin-top: 2rem;
}

.red_rainbow{
    width: 11rem;
    height: 12rem;
    background-color: var(--box-R);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.7rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 7rem;
    transition: all 1s;
}
.orange_rainbow{
    width: 11rem;
    height: 12rem;
    background-color: var(--box-O);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.7rem;
    filter: drop-shadow(0px 1px 4px #0000002c);
    margin-left: 2rem;
    transition: all 1s;
}
.yellow_rainbow{
    width: 11rem;
    height: 12rem;
    background-color: var(--box-Y);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.7rem;
    filter: drop-shadow(0px 1px 4px #0000002c);
    margin-left: 2rem;
    transition: all 1s;
}
.green_rainbow{
    width: 11rem;
    height: 12rem;
    background-color: var(--box-G);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.7rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 2rem;
    transition: all 1s;
}
.blue_rainbow{
    width: 11rem;
    height: 12rem;
    background-color: var(--box-B);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.7rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    transition: all 1s;
    margin-left: 2rem;
}
/*-- Web App Stats --*/

.stats_display_container{
    height: 12rem;
    width: 100%;
    display: flex;
    font-family: "font";
    text-align: center;
}

.indiv_stats{
    height: 8rem;
    width: 20rem;
    background-image: linear-gradient(58deg, var(--accent-light-pink),white);
    filter: drop-shadow(0px 1px 3px #0000003d);
    text-align: center;
    margin-left: 8rem;
}

#user_stats{
    margin-left: 18rem;
}

.indiv_num_stats{
    font-size: 40px;
    font-weight: bold;
    margin-top: 2rem;
}

.indiv_label_stats{
    font-size: 24px;
}

/*-- sample palette --*/
.sample_palette_container{
    background-color: var(--gray-dark);
    width: 100%;
    height: 25rem;
    display: flex;
}

.sample_palette_details{
    font-family: "font";
    font-size: 18px;
    width: 400px;
    margin-top: 6rem;
    margin-left: 9rem;
}
.sample_details_bottom{
    margin-top: 2rem;
}

.sample_palette_set{
    margin-left: 10rem;
    margin-top: 6rem;
    font-family: "font";
}

.sample_name{
    font-size: 22px;
    font-weight: bold;
}

.sample_rainbow{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.red_sample{
    width: 5rem;
    height: 6rem;
    background-color: var(--box-R);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.2rem;
    filter: drop-shadow(0px 1px 4px #0000002c);
}

.orange_sample{
    width: 5rem;
    height: 6rem;
    background-color: var(--box-O);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.2rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 0.2rem;
}

.yellow_sample{
    width: 5rem;
    height: 6rem;
    background-color: var(--box-Y);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.2rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 0.2rem;
}

.green_sample{
    width: 5rem;
    height: 6rem;
    background-color: var(--box-G);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.2rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 0.2rem;
}

.blue_sample{
    width: 5rem;
    height: 6rem;
    background-color: var(--box-B);
    border: solid;
    border-color: var(--gray-bg);
    border-width: 0.2rem;
    filter: drop-shadow(0px 1px 4px #0000002c);

    margin-left: 0.2rem;
}

/* END OF HOME */

/*LOGIN PAGE */
.loginPage_loginContainer{
    width: 100%;
    height: 30 rem;
    display: flex;
    padding-top: 4rem;
}

.login_form{
    background-color: var(--gray-dark);
    height: 25rem;
    width: 20rem;

    filter: drop-shadow(0px 1px 4px #0000003d);
    margin-left: 20rem;
    margin-top: 3rem;
    padding-top: 3rem;

    font-family: "font";
    font-size: 20px;
}

.user_pw_label{
    margin-bottom: 0px;
    margin-top: 1rem;
    margin-left: 2rem;
}

.input_username{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 2rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 1rem;

    font-family: "font";
}

.input_password{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 2rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 1rem;

    font-family: "font";
}

.login_submit{
    width: 9rem;
    height: 2rem;
    background-color: var(--gray-bg);
    border: none;
    filter: drop-shadow(0px 1px 2px #0000002c);
    font-family: "font";
    font-size: 20px;
    font-weight: bold;

    margin-top: 3rem;
    margin-left: 5rem;

    cursor: pointer;
}

.login_submit:hover{
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #00000046);
}

.loginPage_registerContainer{
    font-family: "font";
    font-size: 19px;
    width: 20rem;

    margin-left: 5rem;
    margin-top: 8rem;
}

.register_details{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.login_register_button:link{
    padding: 0.4rem 2rem;
    color: var(--font-color);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--gray-dark);
    filter: drop-shadow(0px 1px 2px #00000046);

    margin-top: 10rem;
    margin-left: 4rem;
}

.login_register_button:hover{
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #00000062);
}

.login_register_button:visited{
    color: var(--font-color);
}

/* END OF LOGIN*/

/* REGISTER */
.registerPage_registerContainer{
    padding-top: 5rem;
    margin-left: 12rem;

    font-family: "font";
    font-size: 19px;

    filter: drop-shadow(0px 1px 3px #0000002c);
    display: flex;
}
.register_form{
    background-color: var(--gray-dark);
    height: 35rem;
    width: 30rem;
}

.register_header{
    font-family: "font";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0px;
    color: #272626;
}

.reg_label_info{
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-left: 2rem;
}

.input_field_register{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 1.8rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 0.5rem;

    font-family: "font";
}

.input_pass_confirm{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 1.8rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 0.5rem;

    font-family: "font";
}

.input_username_register{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 2rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 0.5rem;

    font-family: "font";
}

.input_password_register{
    background-color: var(--gray-bg);
    border: solid;
    border-color: #d6d6d6;
    height: 2rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 0.5rem;

    font-family: "font";
}


.register_submit{
    width: 10rem;
    background-color: var(--gray-bg);
    height: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 9rem;
    font-weight: bold;
    font-family: "font";
    font-size: 20px;
    border: none;
    filter: drop-shadow(0px 1px 3px #0000002c);
}

.register_submit:hover{
    cursor: pointer;
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 2px #00000049);
}

.registerPage_loginPane{
    margin-left: 5rem;
    margin-top: 5rem;
    font-size: 20px;
}

.reg_loginDetails{
    margin-bottom: 2rem;
}

.login_button:link{
    background-color: var(--gray-dark);
    text-align: center;
    font-weight: bold;
    font-family: "font";
    font-size: 20px;
    padding: 0.4rem 2rem;
    text-decoration: none;
    color: var(--font-color);
    
    filter: drop-shadow(0px 1px 3px #0000002c);
    margin-left: 2rem;
}

.login_button:hover{
    background-color: var(--gray-hover);
    filter: drop-shadow(0px 1px 3px #00000049);
}

.login_button:visited{
    text-decoration: none;
    color: var(--font-color);
}



